body
{
    /*font-family: Oswald, sans-serif;*/
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table
{
    padding: 20px;
	border: 1px solid;
	border-collapse: collapse;
}

td.clock
{
    width: 100px;
    height: 100px;
	border: 1px solid;
	border-collapse: collapse;   
}

td.center
{
    text-align: center;
}

td.box_5
{
    background-color: aquamarine;
}